.carousel-middle {
    text-align: center;
}

@media only screen and (max-width:480px) {
    .carousel-control img {
        height: 50vh;

    }
}

.popular-courses {
    /* display: grid;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
}

.See-More-Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.institute-color {
    background-color: azure;
}

.fa-star,
.fa-star-half-stroke {
    color: orange;
    font-size: 30px;
}

.img-companies img {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}